body
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.l-nav-bar
  position absolute
  top 0
  left 0
  bottom 0
  width $nav-bar-width

.l-nav-bar-header
  position absolute
  top 0
  left 0
  right 0
  height $nav-bar-header-height

.l-nav-bar-categories
  position absolute
  top $nav-bar-header-height
  left 0
  right 0
  bottom $nav-bar-footer-height

.l-nav-bar-footer
  position absolute
  left 0
  right 0
  bottom 0
  height $nav-bar-footer-height

.l-content
  position absolute
  left $content-left
  top 0
  right 0
  bottom 0

.l-header
  position absolute
  top 0
  left 0
  right 0
  height $content-header-height

.l-notes-bar
  position absolute
  top $content-header-height
  left 0
  bottom 0
  width $notes-bar-width

.l-note-view
  position absolute
  top $content-header-height
  left $notes-bar-width
  right 0
  bottom 0

.l-note-view-header
  position absolute
  top 0
  left 0
  right 0
  height $note-view-header-height

.l-note-view-content
  position absolute
  top $note-view-header-height
  left 0
  right 0
  bottom 0
