.nav-bar
  z-index $z-index-nav-bar
  color $color-white
  background-color $color-dark-bk
  user-select none

.nav-bar-header
  padding 0 16px
  color $color-white
  font-size 30px
  font-weight 100
  line-height $nav-bar-header-height
  cursor default

.nav-bar-categories
  padding 16px 0

.category
  padding 0 16px
  height 48px
  line-height 48px
  cursor pointer

  &:hover
    background-color lighten($color-dark-bk, 2%)

  &--active
    color $color-white
    font-weight 500
    background-color lighten($color-dark-bk, 5%)
