.nav-bar
  z-index $z-index-nav-bar
  color $color-white
  background-color $color-dark-bk

.nav-bar-header
  padding 0 16px
  color $color-white
  font-size 30px
  font-weight 100
  line-height $nav-bar-header-height

.nav-bar-categories
  padding 16px 0

.category
  padding 0 16px
  height 48px
  line-height 48px

  &--active
    padding-left 14px
    color $color-white
    font-weight 500
    border-left 2px solid $color-base
