.note-view {}

.note-view-header
  padding 0 16px
  line-height $note-view-header-height
  background-color $color-white
  border-bottom 1px solid rgba(0,0,0,.05)
  z-index $z-index-note-view-header

.note-view-actions {}
.note-view-action
  color $color-text-light
  font-weight 500

.note-view-content
  padding 16px
  background-color $color-light-bk
  z-index $z-index-note-view-content

@import 'markdown'
