doctype
html
  head
    link(href='https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/public/css/index.min.css")
    link(rel="stylesheet", href="/public/vendor/font-awesome/css/font-awesome.min.css")
  body
    .l-nav-bar.nav-bar
      .l-nav-bar-header.nav-bar-header CMKeeper
      .l-nav-bar-categories.nav-bar-categories
        ul.categories-list
          li.category Входящие
          li.category.category--active Reliablehosting.com
          li.category Идеи
          li.category Разное
      .l-nav-bar-footer.nav-bar-footer

    .l-content.content
      .l-header.header
        .caption
          .caption-item.caption-category-name Reliablehosting.com
          .caption-item.caption-arrow.fa.fa-angle-right
          .caption-item.caption-note-name WHMCS автоматизация

      .l-notes-bar.notes-bar
        .notes-block.notes-block--open
          .notes-block-header Заметки
            .notes-block-toggle.fa.fa-caret-right
          ul.notes-list.notes-list--visible
            li.note.note--active
              .note-name WHMCS автоматизация
              .note-action
            li.note
              .note-name mysql bug
              .note-action

        .notes-block.notes-block--open
          .notes-block-header Архив
            .notes-block-toggle.fa.fa-caret-right
          ul.notes-list.notes-list--visible
            li.note
              .note-name DMCA batch wizard
              .note-action
            li.note
              .note-name DMCA auto mode
              .note-action

      .l-note-view.note-view
        .l-note-view-header.note-view-header
          .note-view-actions
            .note-view-action.note-view-action--edit EDIT
        .l-note-view-content.note-view-content.markdown
          | loaisjdf lkas; dfljas;dlfk j;aslkdfjasdfsafd
          | loaisjdf lkas; dfljas23sv;dlfk j;aslkda asdf fjasdfsafd
          | loaisjdf lqwerkas; dfljas;dlfk j;aslkdfjasdfsafd
          | loaisjdf lkas; dfljas;dlfk j;aslkdfjasdfszxcvafd
          | loaisjdf lkas;ad dfljas;dlfk jasdf;a234slkdfasdfjasdfsafd
          | loaisjdf lkas; dfljasxcv;dlfk j;asfdasdfaslkdfjasdfsafd
          | loaisjdf lkas; dfsadfljas;dlfk asdfj;aslkdfjasdfsafd
          | loaisjdf lkas; dfljas;dlfk j;aslkdfjasdfsafd
          | loaisxcv
