@import 'nib'

global-reset()
reset-html5()

*
  box-sizing border-box
  transition all ease-in-out .1s

*:focus
  outline 0

@import 'variables'

// font settings
body
  font-family 'RobotoDraft', 'sans-serif'
  font-size 14px
  font-weight 300
  color $color-text-black

a
  text-decoration none
  color $color-base

  &:hover
    color darken($color-base, 30%)

b
  font-weight 500

@import 'layout'
@import 'app-preloader'
@import 'functions'
@import 'auth/forms'
@import 'notes/index'
