@import 'nib'

global-reset()
reset-html5()

*
  box-sizing border-box
  transition all ease-in-out .1s

*:focus
  outline 0

@import 'index/variables'

// font settings
body
  font-family 'RobotoDraft', 'sans-serif'
  font-size 14px
  font-weight 300
  color $color-text-black

@import 'index/layout'
@import 'functions'
@import 'index/nav-bar'
@import 'index/content'
