body
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.l-app-preloader
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  z-index -1

// *****************************************
//  Notes page
// *****************************************
.l-notes-page-container
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.l-nav-bar
  position absolute
  top 0
  left 0
  bottom 0
  width $nav-bar-width

.l-nav-bar-header
  position absolute
  top 0
  left 0
  right 0
  height $nav-bar-header-height

.l-nav-bar-categories
  position absolute
  top $nav-bar-header-height
  left 0
  right 0
  bottom $nav-bar-footer-height

.l-nav-bar-footer
  position absolute
  left 0
  right 0
  bottom 0
  height $nav-bar-footer-height

.l-content
  position absolute
  left $content-left
  top 0
  right 0
  bottom 0

.l-header
  position absolute
  top 0
  left 0
  right 0
  height $content-header-height

.l-header-actions
  position absolute
  right 16px
  top 0
  bottom 0
  height $content-header-height
  width auto

.l-notes-bar
  position absolute
  top $content-header-height
  left 0
  bottom 0
  width $notes-bar-width

.l-note-view
  position absolute
  top $content-header-height
  left $notes-bar-width
  right 0
  bottom 0

.l-note-view-header
  position absolute
  top 0
  left 0
  right 0
  height $note-view-header-height

.l-note-view-extras
  position absolute
  right 0
  top 0
  bottom 0
  height $note-view-header-height
  width auto

.l-note-menu
  position absolute
  top 0px
  right 5px
  paddng 8px 0
  z-index 100

.l-note-view-content
  position absolute
  top $note-view-header-height
  left 0
  right 0
  bottom 0


// *****************************************
//  Auth pages
// *****************************************
.l-auth-form-container
  position absolute
  top 0
  left 0
  bottom 0
  right 0

.l-auth-form
  margin 200px auto 0
  width 350px
