// *****************************************
//  Layout
// *****************************************
$nav-bar-width = 250px
$content-left = 250px
$small-content-left = 0px
$content-header-height = 64px
$nav-bar-header-height = 64px
$nav-bar-footer-height = 64px
$notes-bar-width = 345px
$note-view-header-height = 48px


// *****************************************
//  Colors
// *****************************************
$color-base = #009688
$color-base-lightest = #e0f2f1
$color-white = white
$color-black = rgba(0,0,0,.87)
$color-light-bk = #fbfbfb
$color-light-grey-bk = rgba(0,0,0,.12)
$color-dark-bk = #383838
$color-text-black = rgba(0,0,0,.87)
$color-text-middle = rgba(0,0,0,.76)
$color-text-light = rgba(0,0,0,.54)
$color-red = #e51c23
$color-light-red = #f9bdbb
$color-blue = #03a9f4
$color-dark-blue = #0e91b8
$color-white-transparent = rgba(255,255,255,.12)


// *****************************************
//  Z-Indexes
// *****************************************
$z-index-nav-bar = 0
$z-index-content = 1
$z-index-note-view-content = 2
$z-index-note-view-header = 3
$z-index-notes-bar = 4
$z-index-header = 5
