doctype
html(ng-app="CMKeeper")
  head
    link(href="https://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&subset=latin,cyrillic" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="./css/style.min.css")
    link(rel="stylesheet", href="./vendor/font-awesome/css/font-awesome.min.css")
    script(src="./js/app.min.js")

    title(ng-bind="title || 'CMKeeper'") CMkeeper
  body
    ui-view
    .l-app-preloader.app-preloader

