.header
  background-color $color-base
  color $color-white
  font-size 24px
  line-height $content-header-height
  z-index $z-index-header
  shadow-1()
  user-select none
  cursor default

.header-actions
  background-color $color-base
  clearfix()

.header-action
  height $content-header-height
  width 64px
  line-height $content-header-height !important
  float left
  vertical-align middle !important
  text-align center !important
  cursor pointer
  transition background-color ease-in-out .1s

  &:hover
    background-color $color-white-transparent
    cursor pointer

.caption
  padding-left 30px
  height $content-header-height
  overflow hidden
  clearfix()

.caption-item
  display inline-block
  float left

.caption-category-placeholder
  color rgba(255,255,255,.5)

.caption-category-name
  height $content-header-height
  max-width 355px
  word-break break-all
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.caption-arrow
  height $content-header-height
  width 48px
  line-height $content-header-height !important
  vertical-align middle !important
  text-align center !important

.caption-notes-preloader
  position relative
  top 1px
  width 48px
  line-height $content-header-height !important
  vertical-align middle !important
  text-align center !important
  margin-left 16px
  font-size 16px

.caption-note-name
  height $content-header-height
  max-width 400px
  white-space nowrap
  word-break break-all
  overflow hidden
  text-overflow ellipsis
