// *****************************************
//  Editor header
// *****************************************
.note-edit-header
  @extend .note-view-header
  padding 0 16px

.note-edit-name
  padding 2px 0
  min-width 300px
  width 40%
  border 0
  border-bottom 2px solid $color-blue
  font-family 'RobotoDraft', 'sans-serif'
  font-size 20px
  font-weight 300
  color $color-text-black


// *****************************************
//  Note actions
// *****************************************
.note-edit-actions
  display inline-block

.note-edit-action
  @extend .note-view-action


// *****************************************
//  Note edit extras
// *****************************************
.note-edit-extras
  @extend .note-view-extras

.note-edit-extra
  @extend .note-view-extra


// *****************************************
//  Editor
// *****************************************
.note-edit-content
  padding 10px
  z-index $z-index-note-view-content

.note-edit-editor
  padding 16px
  min-width 100%
  min-height 99%
  border none
  resize none
  background-color $color-white
  font-family 'RobotoDraft', 'sans-serif'
  font-size 16px
  font-weight 300
