.note-view {}

.note-view-header
  line-height $note-view-header-height
  background-color $color-white
  border-bottom 1px solid rgba(0,0,0,.05)
  z-index $z-index-note-view-header
  color $color-text-light
  font-weight 500
  user-select none
  cursor default


// *****************************************
//  Note actions
// *****************************************
.note-view-actions
  display inline-block

.note-view-action
  display inline-block
  padding 0 16px
  text-transform uppercase
  cursor pointer
  transition all ease-in-out .1s

  &:hover
    transform translateY(-2px)
    color $color-text-black


// *****************************************
//  Extra actions
// *****************************************
.note-view-extras {}

.note-view-extra
  padding 0 16px
  height $note-view-header-height
  line-height $note-view-header-height!important
  vertical-align middle!important
  cursor pointer

  &:hover
    color $color-text-black

.note-menu
  display block
  padding 8px 0
  list-style none
  background-color $color-white
  border-radius 2px
  shadow-1()

.note-menu-item
  padding-left 16px
  padding-bottom 20px
  height 48px
  min-width 168px
  font-size 16px
  font-weight 300
  color $color-text-black
  transition background-color ease-in-out .1s

  &:hover
    cursor pointer
    background-color darken($color-white, 5%)


// *****************************************
//  Content
// *****************************************
.note-view-content
  padding 16px
  background-color $color-light-bk
  z-index $z-index-note-view-content
  overflow-y scroll

@import 'markdown'
