.notes-bar
  z-index $z-index-notes-bar
  shadow-1()
  background-color $color-white

.notes-block
  overflow hidden

  :not(&--open)
    .notes-list
      display none

  &--open
    .notes-block-toggle
      transform rotateZ(90deg)

    .notes-list
      display block

.notes-block-header
  position relative
  padding 0 16px
  height 48px
  line-height 48px
  color $color-text-light
  font-size 14px
  font-weight 300
  cursor pointer
  user-select none

  &:hover
    background-color darken($color-white, 5%)

.notes-block-toggle
  position absolute
  right 16px
  top 16px
  transition transform ease-in-out .2s

.notes-list > :last-child
  margin-bottom 24px

.note
  display block
  padding 0 16px
  height 48px
  overflow hidden
  text-overflow ellipsis
  line-height 48px
  color $color-text-middle
  font-size 16px
  font-weight 400
  user-select none
  text-decoration none
  transition all ease-in-out .1s

  &:hover:not(&--active)
    cursor pointer
    color $color-text-middle
    background-color darken($color-white, 5%)

  &--active
    cursor default
    color $color-base
