.note-view {}

.note-view-header
  line-height $note-view-header-height
  background-color $color-white
  border-bottom 1px solid rgba(0,0,0,.05)
  z-index $z-index-note-view-header
  color $color-text-light
  font-weight 500
  user-select none
  cursor default


// *****************************************
//  Note actions
// *****************************************
.note-view-actions
  display inline-block

.note-view-action
  display inline-block
  padding 0 16px
  text-transform uppercase
  cursor pointer

  &:hover
    color $color-text-black


// *****************************************
//  Extra actions
// *****************************************
.note-view-extras {}

.note-view-extra
  padding 0 16px
  height $note-view-header-height
  line-height $note-view-header-height!important
  vertical-align middle!important
  cursor pointer

  &:hover
    color $color-text-black


// *****************************************
//  Content
// *****************************************
.note-view-content
  padding 16px
  background-color $color-light-bk
  z-index $z-index-note-view-content
  overflow-y scroll

@import 'markdown'
